<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.project.dao.DictionaryMapper">
  <resultMap id="BaseResultMap" type="com.company.project.model.Dictionary">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="option" jdbcType="VARCHAR" property="option" />
    <result column="optionDesc" jdbcType="VARCHAR" property="optiondesc" />
    <result column="deleted" jdbcType="BIT" property="deleted" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="updateTime" jdbcType="TIMESTAMP" property="updatetime" />
    <result column="lastUpdateBy" jdbcType="VARCHAR" property="lastupdateby" />
  </resultMap>
</mapper>